/* This file is for your main application css. */
/* app.css */

@tailwind base;

button {
  @apply text-indigo-600 font-bold py-2 px-4 border border-indigo-700 rounded;
}

button:hover {
  @apply bg-indigo-700 text-white;
}

@tailwind components;



/* Put your custom components here */

@tailwind utilities;

/* Put your custom utilities here */
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.logo{
  max-width: 20rem;
}
